html, body, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;   
}

.root {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    height: 100%;
 }

.cell {
    background-color: #B5EAD7;

    border: 1px solid black;
    font-size: 5vw;
}

.cell-m3 {
    background-color: #E2F0CB;

    grid-column-start: 1;
    grid-column-end: span 3;

    grid-row-start: 1;
    grid-row-end: span 3;
}
